@charset "UTF-8";
* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

a {
	text-decoration:none;
	color: white;
}

.wrap-loading { /*화면 전체를 어둡게 합니다.*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/* background: rgba(0, 0, 0, 0.2); */ /*not in ie */
}
.wrap-loading { /*로딩 이미지*/
	z-index: 9999 !important;
	position: absolute;
	top: 50%;
	left: 50%;
}
.display-none { /*감추기*/
	display: none;
}


.header {
	background: #3746AF;
	height: 50px;
	width: 100%;
}
#index {
	background: #D2DBDD;
}

.container {
	margin-top: 50px;
	margin-left: 50px;
}

.main-container {
	background: #D2DBDD;
}

.main-container .card-container {
	margin: 0 auto;
	width: 960px;
}
.main-container .card-container .card {
	display: flex;
	flex-direction: column;
	max-width: 20.75em;
	min-height: 15.75em;
	overflow: hidden;
	border-radius: .5em;
	text-decoration: none;
	background: white;
	margin: 1em;
	padding: 2.75em 2.5em;
	box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
	transition: transform .45s ease, background .45s ease;
}
.main-container .card-container .cards {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

.main-container .card-container .card-img {
	visibility: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.main-container .card-container .card {
	margin-right: 25px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 33.3%; 
	height: 20px;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.main-container .card-container .card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.07, 1.07);
}

.main-container .card-container .card-info {
	z-index: 2;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 16px 24px 24px 24px;
}

.main-container .card-container .card-category {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #868686;
}

.main-container .card-container .card-title {
	margin-top: 5px;
	margin-bottom: 10px;
}

#map {
	position: fixed;
	top: 50px;
	left: 80px;
	min-width: 900px;
	height: calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: -moz-calc(100% - 50px);
	width: calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
}

.top-bar {
	background: #3746AF;
	position: fixed;
	left: 80px;
	top: 0;
	right: 0;
	height: 50px;
	width: 100%;
}

.left-bar {
	background: #3b4248;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80px;
}
.left-bar .item {
	border-bottom: 1px solid white;
	margin-bottom: 5px;
	margin-top: 2px; 
}

.left-bar .item .title {
	font-size: 15px;
	color: white;
}
.left-bar .item .type {
	font-size: 10px;
	color: white;
	padding: 3px;
}

.search-box {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 530px;
	white-space: nowrap;
}

.top-bar .login-box {
	margin-right: 100px;
    float: right;
    width: 135x; 
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.top-bar .login-box * {
	color: white;
	font-size: 13px;
}


.header .login-box .login {
	margin-right: -20px;
	color: white;
	font-size: 13px;
    width: 220px;
}

.header .login-box .no-login {
	color: white;
	font-size: 20px;
    width: 60px; 
}

.header .login-box {
    float: right;
    height: 50px;
    width: 220px;
    justify-content: flex-end; 
    align-items: center;
    text-align: center;
    
}

.header #search {
    margin-left: 205px;
	width: 320px;
	height: 48px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #fff;
	outline: none;
	padding-left: 15px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

.top-bar #search {
    margin-left: 80px;
	width: 320px;
	height: 48px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #fff;
	outline: none;
	padding-left: 15px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

.icon {
	outline: none;
	border-radius: 45px;
	margin-left: -66px;
	border: none;
	background: #232833;
	width: 50px;
	height: 48px;
	color: #4f5b66;
	font-size: 10pt;
}

.icon:hover {
	background: white;
}

.navi {
	display: flex;
	padding: 10px;
	list-style: none;
	background-color: #cec7b6;
	height: 60px;
}

.navi li {
	display: block;
	padding: 20px;
	width: 25%;
	color: white;
	float: left;
	text-align: center;
}

.navi li:hover {
	color: #979067;
	cursor: pointer;
}